<nav>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo">&nbsp;&nbsp;Cervejaria do Zé</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="javascript:void(0)" (click)="Logout()">Logout</a></li>
    </ul>
  </div>
</nav>
<div class="header">
    <h5 class="color"><i class="material-icons left small">list</i> Produto</h5>
    <hr class="hrs">
</div>
<div class="container">
    <div class="row">
      <form [formGroup]="filterForm">
        <div class="input-field col s6">
            <input type="text" class="validate" id="filters" formControlName="filtro" />
            <label for="filter">Filtro:</label>
        </div>
        <div class="col s1 btn-buscar" >
            <button type="button" (click)="Filtrar()" class="waves-effect waves-light btn">Buscar</button>
        </div>
        <div class="col s3 btn-cadastrar"s>
            <a routerLink="/produto-cadastrar"  class="waves-effect waves-light btn blue">Cadastrar</a>
        </div>
    </form>
    </div>
    <div class="row">
      <h5 class="center header-message" *ngIf="listaProduto.length == 0">Nenhum Registro encontrado!</h5>
      <div class="col s4" *ngFor="let produto of listaProduto">
        <div class="card">
          <div class="card-image">
            <img src={{produto.CaminhoImagem}} height="300">
          </div>
          <div class="card-content">
            <span>{{produto.Nome}}</span>
            <hr>
            <span>Marca: {{produto.Marca}}</span><br>
            <span>Tipo: {{produto.Tipo}}</span>
          </div>
        </div>
      </div>
    </div>
</div>


 <!-- <app-gerador-card
      [titulo]="1"
      [imagem]="1"
      [marca]="1"
      [codigo]="1"
      [tipo]="1"
     ></app-gerador-card> -->