<ul id="dropdown1" class="dropdown-content">
  <li><a href="#!">one</a></li>
  <li><a href="#!">two</a></li>
  <li class="divider"></li>
  <li><a href="#!">three</a></li>
</ul>
<nav>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo">&nbsp;&nbsp;Cervejaria do Zé</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="javascript:void(0)"(click)="Logout()">LogOut</a></li>
    </ul>
  </div>
</nav>
<div class="" style="margin-left: 20px; margin-right:20px; margin-top:20px;">
    <h5 style="color:gray;"><i class="material-icons left small">add</i> Cadastrar</h5>
    <hr style="border-bottom: 1px solid gray;">
</div>
<div class="container" style="margin-top:20px;">
  <form [formGroup]="prodForm">
    <div class="row">
      <div class="input-field col s4">
        <input type="text" class="validate" id="marca" formControlName="marca"/>
        <label for="marca">Marca</label>
      </div>
      <div class="input-field col s4">
        <input type="text" class="validate" id="nome" formControlName="nome"/>
        <label for="nome">Nome</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s4">
          <select name="singleSelect" name="selectedOption" materialize="material_select">
            <option value="" disabled selected>Selecione</option>
            <option *ngFor="let t of Tipo"  [value]="t.id">{{t.tipo}}</option>
          </select>
          <label>Tipo</label>
      </div>
      <div class="input-field col s4">
        <input type="text" class="validate" id="cod"  formControlName="codigo"/>
        <label for="cod">Código</label>
      </div>
    </div>
    <div class="row">
      <div class="col s4">
        <label for="">Imagem</label>
        <div class="file-field input-field">
          <div class="btn-floating btn-large">
            <span>IMG</span>
            <input type="file" (change)="onFileChange($event)">
          </div>
          <div class="file-path-wrapper">
            <input class="file-path validate" formControlName="imagem" type="text">
          </div>
        </div>
      </div>
      
    </div>
    <div class="row">
        <div class="col s6">
            <button type="button" (click)="salvarProduto()" class="waves-effect waves-light btn">Salvar</button>&nbsp;
            <a routerLink="/produto" href="" class="waves-effect waves-light btn">Voltar</a>
        </div>
     </div>
  </form>
</div>
